<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/style.css">
        <title>Document</title>
    </head>
    <body>
        <div id="root">
            <div class="container flex">
              <!--   sezione per il logo -->
                <div class="logo">
                    <img class="imageLogo" :src="imageLogo" alt="">
                </div>
                <!--input per aggiungere una nuova task  -->
                <div class="addTask flex">
                    <input type="text" placeholder="Nuovo To Do" v-model="newTask">
                    <button @click="addTask">Aggiungi</button>
                </div>
                <div class="error" v-show="error">
                    <span>Devi scrivere qualcosa</span>
                </div>
                <!-- lista delle task -->
              

                    <div class="tasks flex">
                        <h2>To do</h2>
                        <div v-if="tasks.length != 0">
    
                            <div class="item flex" v-for="(task, index) in tasks">
                                {{task}}
                                <div class="flex">

                                    <div class="flagTask">
                                        <span @click="flagTask(index)"> 
                                           <i class="fas fa-check-circle"></i>
                                        </span>
                                        
                                    </div>
                                    <div class="deleteTask">
                                        <span @click="removeTask(index)"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <span>Nulla da fare</span>
                        </div>
                    </div>
                    <!-- task completate -->
                    <div class="tasksCompleted flex">
                        <h2>Completed</h2>
                        <div v-if="tasksCompleted.length != 0">
                            <div class="item flex" v-for="(task, index) in tasksCompleted">
                                {{task}}
                                <div class="returnToDo">
                                    <span @click="returnToDo(index)"><i class="fas fa-undo"></i></span>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <span>Nessuna task completata</span>
                        </div>
                    </div>
                     <div class="trash flex">
                       
                            <div class="flex cestino">
                                <h2>Trashed </h2>
                                <span class="emptyTrash" @click="emptyTrash">Svuota cestino</span>
                            </div>
                       
                        <div v-if="tasksTrash.length != 0">
                            <div class="item flex" v-for="(task, index) in tasksTrash">
                                {{task}}
                                <div class="returnToDo">
                                    <span @click="returnToDoTrash(index)"><i class="fas fa-trash-restore"></i></i></span>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <span>Cestino vuoto</span>
                        </div>
                    </div>
               
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="./assets/app.js"></script>
    </body>
</html>